'.source.papyrus.skyrim':
	'FISSFactory.getFISS (FISS)':
		'prefix': 'getFISS'
		'body': 'getFISS()'
	'FISSInterface.beginLoad (FISS)':
		'prefix': 'beginLoad'
		'body': 'beginLoad(${1:string filename})'
	'FISSInterface.beginSave (FISS)':
		'prefix': 'beginSave'
		'body': 'beginSave(${1:string filename}, ${2:string modname})'
	'FISSInterface.blockInput (FISS)':
		'prefix': 'blockInput'
		'body': 'blockInput(${1:bool block})'
	'FISSInterface.endLoad (FISS)':
		'prefix': 'endLoad'
		'body': 'endLoad()'
	'FISSInterface.endSave (FISS)':
		'prefix': 'endSave'
		'body': 'endSave()'
	'FISSInterface.forceClose (FISS)':
		'prefix': 'forceClose'
		'body': 'forceClose()'
	'FISSInterface.getAllFilenamesInFolder (FISS)':
		'prefix': 'getAllFilenamesInFolder'
		'body': 'getAllFilenamesInFolder(${1:string path})'
	'FISSInterface.getInterfaceVersion (FISS)':
		'prefix': 'getInterfaceVersion'
		'body': 'getInterfaceVersion()'
	'FISSInterface.getModName (FISS)':
		'prefix': 'getModName'
		'body': 'getModName()'
	'FISSInterface.getVersion (FISS)':
		'prefix': 'getVersion'
		'body': 'getVersion()'
	'FISSInterface.hideInfoText (FISS)':
		'prefix': 'hideInfoText'
		'body': 'hideInfoText(${1:bool hide})'
	'FISSInterface.loadBool (FISS)':
		'prefix': 'loadBool'
		'body': 'loadBool(${1:string name})'
	'FISSInterface.loadFloat (FISS)':
		'prefix': 'loadFloat'
		'body': 'loadFloat(${1:string name})'
	'FISSInterface.loadInt (FISS)':
		'prefix': 'loadInt'
		'body': 'loadInt(${1:string name})'
	'FISSInterface.loadString (FISS)':
		'prefix': 'loadString'
		'body': 'loadString(${1:string name})'
	'FISSInterface.requestFilename (FISS)':
		'prefix': 'requestFilename'
		'body': 'requestFilename()'
	'FISSInterface.requestUserInput (FISS)':
		'prefix': 'requestUserInput'
		'body': 'requestUserInput(${1:string titleMessage})'
	'FISSInterface.saveBool (FISS)':
		'prefix': 'saveBool'
		'body': 'saveBool(${1:string name}, ${2:bool b})'
	'FISSInterface.saveFloat (FISS)':
		'prefix': 'saveFloat'
		'body': 'saveFloat(${1:string name}, ${2:float f})'
	'FISSInterface.saveInt (FISS)':
		'prefix': 'saveInt'
		'body': 'saveInt(${1:string name}, ${2:int i})'
	'FISSInterface.saveString (FISS)':
		'prefix': 'saveString'
		'body': 'saveString(${1:string name}, ${2:string s})'
	'FISSInterface.saveTextToTxtFile (FISS)':
		'prefix': 'saveTextToTxtFile'
		'body': 'saveTextToTxtFile(${1:string filename}, ${2:string text})'
	'FISSInterface.setInfoText (FISS)':
		'prefix': 'setInfoText'
		'body': 'setInfoText(${1:string text})'
	'FISSInterface.setText (FISS)':
		'prefix': 'setText'
		'body': 'setText(${1:string text})'
	'FISSInterface.setTheme (FISS)':
		'prefix': 'setTheme'
		'body': 'setTheme(${1:string fissInputTheme}, ${2:float fissInputScale}, ${3:float fissInputAplha})'
	'FISSInterface.setTitle (FISS)':
		'prefix': 'setTitle'
		'body': 'setTitle(${1:string title})'
