'.source.papyrus':
	'ActorUtil.AddPackageOverride':
		'prefix': 'AddPackageOverride'
		'body': 'AddPackageOverride(${1:Actor targetActor}, ${2:Package targetPackage}, ${3:int priority = 30}, ${4:int flags = 0})'
	'ActorUtil.ClearPackageOverride':
		'prefix': 'ClearPackageOverride'
		'body': 'ClearPackageOverride(${1:Actor targetActor})'
	'ActorUtil.CountPackageOverride':
		'prefix': 'CountPackageOverride'
		'body': 'CountPackageOverride(${1:Actor targetActor})'
	'ActorUtil.RemoveAllPackageOverride':
		'prefix': 'RemoveAllPackageOverride'
		'body': 'RemoveAllPackageOverride(${1:Package targetPackage})'
	'ActorUtil.RemovePackageOverride':
		'prefix': 'RemovePackageOverride'
		'body': 'RemovePackageOverride(${1:Actor targetActor}, ${2:Package targetPackage})'
	'MiscUtil.ExecuteBat':
		'prefix': 'ExecuteBat'
		'body': 'ExecuteBat(${1:string fileName})'
	'MiscUtil.GetNodeRotation':
		'prefix': 'GetNodeRotation'
		'body': 'GetNodeRotation(${1:ObjectReference obj}, ${2:string nodeName}, ${3:bool firstPerson}, ${4:int rotationIndex})'
	'MiscUtil.GetRaceEditorID':
		'prefix': 'GetRaceEditorID'
		'body': 'GetRaceEditorID(${1:Race raceForm})'
	'MiscUtil.PrintConsole':
		'prefix': 'PrintConsole'
		'body': 'PrintConsole(${1:string text})'
	'MiscUtil.ReadFromFile':
		'prefix': 'ReadFromFile'
		'body': 'ReadFromFile(${1:string fileName})'
	'MiscUtil.SetFreeCameraSpeed':
		'prefix': 'SetFreeCameraSpeed'
		'body': 'SetFreeCameraSpeed(${1:float speed})'
	'MiscUtil.SetMenus':
		'prefix': 'SetMenus'
		'body': 'SetMenus(${1:bool enabled})'
	'MiscUtil.ToggleFreeCamera':
		'prefix': 'ToggleFreeCamera'
		'body': 'ToggleFreeCamera(${1:bool stopTime = false})'
	'MiscUtil.WriteToFile':
		'prefix': 'WriteToFile'
		'body': 'WriteToFile(${1:string fileName}, ${2:string text}, ${3:bool append = true}, ${4:bool timestamp = false})'
	'ObjectUtil.ClearReplaceAnimation':
		'prefix': 'ClearReplaceAnimation'
		'body': 'ClearReplaceAnimation(${1:ObjectReference obj})'
	'ObjectUtil.CountReplaceAnimation':
		'prefix': 'CountReplaceAnimation'
		'body': 'CountReplaceAnimation(${1:ObjectReference obj})'
	'ObjectUtil.GetKeyReplaceAnimation':
		'prefix': 'GetKeyReplaceAnimation'
		'body': 'GetKeyReplaceAnimation(${1:ObjectReference obj}, ${2:int index})'
	'ObjectUtil.GetValueReplaceAnimation':
		'prefix': 'GetValueReplaceAnimation'
		'body': 'GetValueReplaceAnimation(${1:ObjectReference obj}, ${2:string oldAnim})'
	'ObjectUtil.RemoveReplaceAnimation':
		'prefix': 'RemoveReplaceAnimation'
		'body': 'RemoveReplaceAnimation(${1:ObjectReference obj}, ${2:string oldAnimEvent})'
	'ObjectUtil.SetReplaceAnimation':
		'prefix': 'SetReplaceAnimation'
		'body': 'SetReplaceAnimation(${1:ObjectReference obj}, ${2:string oldAnimEvent}, ${3:Idle newAnim})'
	'PapyrusUtil.GetVersion':
		'prefix': 'GetVersion'
		'body': 'GetVersion()'
	'StorageUtil.debug_Cleanup':
		'prefix': 'debug_Cleanup'
		'body': 'debug_Cleanup()'
	'StorageUtil.debug_DeleteAllValues':
		'prefix': 'debug_DeleteAllValues'
		'body': 'debug_DeleteAllValues()'
	'StorageUtil.debug_DeleteValues':
		'prefix': 'debug_DeleteValues'
		'body': 'debug_DeleteValues(${1:Form obj})'
	'StorageUtil.debug_FileDeleteAllValues':
		'prefix': 'debug_FileDeleteAllValues'
		'body': 'debug_FileDeleteAllValues()'
	'StorageUtil.debug_FileGetFloatKey':
		'prefix': 'debug_FileGetFloatKey'
		'body': 'debug_FileGetFloatKey(${1:int index})'
	'StorageUtil.debug_FileGetFloatKeysCount':
		'prefix': 'debug_FileGetFloatKeysCount'
		'body': 'debug_FileGetFloatKeysCount()'
	'StorageUtil.debug_FileGetFloatListKey':
		'prefix': 'debug_FileGetFloatListKey'
		'body': 'debug_FileGetFloatListKey(${1:int index})'
	'StorageUtil.debug_FileGetFloatListKeysCount':
		'prefix': 'debug_FileGetFloatListKeysCount'
		'body': 'debug_FileGetFloatListKeysCount()'
	'StorageUtil.debug_FileGetIntKey':
		'prefix': 'debug_FileGetIntKey'
		'body': 'debug_FileGetIntKey(${1:int index})'
	'StorageUtil.debug_FileGetIntKeysCount':
		'prefix': 'debug_FileGetIntKeysCount'
		'body': 'debug_FileGetIntKeysCount()'
	'StorageUtil.debug_FileGetIntListKey':
		'prefix': 'debug_FileGetIntListKey'
		'body': 'debug_FileGetIntListKey(${1:int index})'
	'StorageUtil.debug_FileGetIntListKeysCount':
		'prefix': 'debug_FileGetIntListKeysCount'
		'body': 'debug_FileGetIntListKeysCount()'
	'StorageUtil.debug_FileGetStringKey':
		'prefix': 'debug_FileGetStringKey'
		'body': 'debug_FileGetStringKey(${1:int index})'
	'StorageUtil.debug_FileGetStringKeysCount':
		'prefix': 'debug_FileGetStringKeysCount'
		'body': 'debug_FileGetStringKeysCount()'
	'StorageUtil.debug_FileGetStringListKey':
		'prefix': 'debug_FileGetStringListKey'
		'body': 'debug_FileGetStringListKey(${1:int index})'
	'StorageUtil.debug_FileGetStringListKeysCount':
		'prefix': 'debug_FileGetStringListKeysCount'
		'body': 'debug_FileGetStringListKeysCount()'
	'StorageUtil.debug_GetFloatKey':
		'prefix': 'debug_GetFloatKey'
		'body': 'debug_GetFloatKey(${1:Form obj}, ${2:int index})'
	'StorageUtil.debug_GetFloatKeysCount':
		'prefix': 'debug_GetFloatKeysCount'
		'body': 'debug_GetFloatKeysCount(${1:Form obj})'
	'StorageUtil.debug_GetFloatListKey':
		'prefix': 'debug_GetFloatListKey'
		'body': 'debug_GetFloatListKey(${1:Form obj}, ${2:int index})'
	'StorageUtil.debug_GetFloatListKeysCount':
		'prefix': 'debug_GetFloatListKeysCount'
		'body': 'debug_GetFloatListKeysCount(${1:Form obj})'
	'StorageUtil.debug_GetFloatListObject':
		'prefix': 'debug_GetFloatListObject'
		'body': 'debug_GetFloatListObject(${1:int index})'
	'StorageUtil.debug_GetFloatListObjectCount':
		'prefix': 'debug_GetFloatListObjectCount'
		'body': 'debug_GetFloatListObjectCount()'
	'StorageUtil.debug_GetFloatObject':
		'prefix': 'debug_GetFloatObject'
		'body': 'debug_GetFloatObject(${1:int index})'
	'StorageUtil.debug_GetFloatObjectCount':
		'prefix': 'debug_GetFloatObjectCount'
		'body': 'debug_GetFloatObjectCount()'
	'StorageUtil.debug_GetFormKey':
		'prefix': 'debug_GetFormKey'
		'body': 'debug_GetFormKey(${1:Form obj}, ${2:int index})'
	'StorageUtil.debug_GetFormKeysCount':
		'prefix': 'debug_GetFormKeysCount'
		'body': 'debug_GetFormKeysCount(${1:Form obj})'
	'StorageUtil.debug_GetFormListKey':
		'prefix': 'debug_GetFormListKey'
		'body': 'debug_GetFormListKey(${1:Form obj}, ${2:int index})'
	'StorageUtil.debug_GetFormListKeysCount':
		'prefix': 'debug_GetFormListKeysCount'
		'body': 'debug_GetFormListKeysCount(${1:Form obj})'
	'StorageUtil.debug_GetFormListObject':
		'prefix': 'debug_GetFormListObject'
		'body': 'debug_GetFormListObject(${1:int index})'
	'StorageUtil.debug_GetFormListObjectCount':
		'prefix': 'debug_GetFormListObjectCount'
		'body': 'debug_GetFormListObjectCount()'
	'StorageUtil.debug_GetFormObject':
		'prefix': 'debug_GetFormObject'
		'body': 'debug_GetFormObject(${1:int index})'
	'StorageUtil.debug_GetFormObjectCount':
		'prefix': 'debug_GetFormObjectCount'
		'body': 'debug_GetFormObjectCount()'
	'StorageUtil.debug_GetIntKey':
		'prefix': 'debug_GetIntKey'
		'body': 'debug_GetIntKey(${1:Form obj}, ${2:int index})'
	'StorageUtil.debug_GetIntKeysCount':
		'prefix': 'debug_GetIntKeysCount'
		'body': 'debug_GetIntKeysCount(${1:Form obj})'
	'StorageUtil.debug_GetIntListKey':
		'prefix': 'debug_GetIntListKey'
		'body': 'debug_GetIntListKey(${1:Form obj}, ${2:int index})'
	'StorageUtil.debug_GetIntListKeysCount':
		'prefix': 'debug_GetIntListKeysCount'
		'body': 'debug_GetIntListKeysCount(${1:Form obj})'
	'StorageUtil.debug_GetIntListObject':
		'prefix': 'debug_GetIntListObject'
		'body': 'debug_GetIntListObject(${1:int index})'
	'StorageUtil.debug_GetIntListObjectCount':
		'prefix': 'debug_GetIntListObjectCount'
		'body': 'debug_GetIntListObjectCount()'
	'StorageUtil.debug_GetIntObject':
		'prefix': 'debug_GetIntObject'
		'body': 'debug_GetIntObject(${1:int index})'
	'StorageUtil.debug_GetIntObjectCount':
		'prefix': 'debug_GetIntObjectCount'
		'body': 'debug_GetIntObjectCount()'
	'StorageUtil.debug_GetStringKey':
		'prefix': 'debug_GetStringKey'
		'body': 'debug_GetStringKey(${1:Form obj}, ${2:int index})'
	'StorageUtil.debug_GetStringKeysCount':
		'prefix': 'debug_GetStringKeysCount'
		'body': 'debug_GetStringKeysCount(${1:Form obj})'
	'StorageUtil.debug_GetStringListKey':
		'prefix': 'debug_GetStringListKey'
		'body': 'debug_GetStringListKey(${1:Form obj}, ${2:int index})'
	'StorageUtil.debug_GetStringListKeysCount':
		'prefix': 'debug_GetStringListKeysCount'
		'body': 'debug_GetStringListKeysCount(${1:Form obj})'
	'StorageUtil.debug_GetStringListObject':
		'prefix': 'debug_GetStringListObject'
		'body': 'debug_GetStringListObject(${1:int index})'
	'StorageUtil.debug_GetStringListObjectCount':
		'prefix': 'debug_GetStringListObjectCount'
		'body': 'debug_GetStringListObjectCount()'
	'StorageUtil.debug_GetStringObject':
		'prefix': 'debug_GetStringObject'
		'body': 'debug_GetStringObject(${1:int index})'
	'StorageUtil.debug_GetStringObjectCount':
		'prefix': 'debug_GetStringObjectCount'
		'body': 'debug_GetStringObjectCount()'
	'StorageUtil.debug_SaveFile':
		'prefix': 'debug_SaveFile'
		'body': 'debug_SaveFile()'
	'StorageUtil.debug_SetDebugMode':
		'prefix': 'debug_SetDebugMode'
		'body': 'debug_SetDebugMode(${1:bool enabled})'
	'StorageUtil.ExportFile':
		'prefix': 'ExportFile'
		'body': 'ExportFile(${1:string fileName}, ${2:string restrictKey}, ${3:int restrictType}, ${4:Form restrictForm = none}, ${5:bool restrictGlobal = false}, ${6:bool keyContains = false}, ${7:bool append = true})'
	'StorageUtil.FileFloatListAdd':
		'prefix': 'FileFloatListAdd'
		'body': 'FileFloatListAdd(${1:string key}, ${2:float value}, ${3:bool allowDuplicate = true})'
	'StorageUtil.FileFloatListClear':
		'prefix': 'FileFloatListClear'
		'body': 'FileFloatListClear(${1:string key})'
	'StorageUtil.FileFloatListCount':
		'prefix': 'FileFloatListCount'
		'body': 'FileFloatListCount(${1:string key})'
	'StorageUtil.FileFloatListFind':
		'prefix': 'FileFloatListFind'
		'body': 'FileFloatListFind(${1:string key}, ${2:float value})'
	'StorageUtil.FileFloatListGet':
		'prefix': 'FileFloatListGet'
		'body': 'FileFloatListGet(${1:string key}, ${2:int index})'
	'StorageUtil.FileFloatListRemove':
		'prefix': 'FileFloatListRemove'
		'body': 'FileFloatListRemove(${1:string key}, ${2:float value}, ${3:bool allInstances = false})'
	'StorageUtil.FileFloatListRemoveAt':
		'prefix': 'FileFloatListRemoveAt'
		'body': 'FileFloatListRemoveAt(${1:string key}, ${2:int index})'
	'StorageUtil.FileFloatListSet':
		'prefix': 'FileFloatListSet'
		'body': 'FileFloatListSet(${1:string key}, ${2:int index}, ${3:float value})'
	'StorageUtil.FileGetFloatValue':
		'prefix': 'FileGetFloatValue'
		'body': 'FileGetFloatValue(${1:string key}, ${2:float missing = 0})'
	'StorageUtil.FileGetIntValue':
		'prefix': 'FileGetIntValue'
		'body': 'FileGetIntValue(${1:string key}, ${2:int missing = 0})'
	'StorageUtil.FileGetStringValue':
		'prefix': 'FileGetStringValue'
		'body': 'FileGetStringValue(${1:string key}, ${2:string missing})'
	'StorageUtil.FileHasFloatValue':
		'prefix': 'FileHasFloatValue'
		'body': 'FileHasFloatValue(${1:string key})'
	'StorageUtil.FileHasIntValue':
		'prefix': 'FileHasIntValue'
		'body': 'FileHasIntValue(${1:string key})'
	'StorageUtil.FileHasStringValue':
		'prefix': 'FileHasStringValue'
		'body': 'FileHasStringValue(${1:string key})'
	'StorageUtil.FileIntListAdd':
		'prefix': 'FileIntListAdd'
		'body': 'FileIntListAdd(${1:string key}, ${2:int value}, ${3:bool allowDuplicate = true})'
	'StorageUtil.FileIntListClear':
		'prefix': 'FileIntListClear'
		'body': 'FileIntListClear(${1:string key})'
	'StorageUtil.FileIntListCount':
		'prefix': 'FileIntListCount'
		'body': 'FileIntListCount(${1:string key})'
	'StorageUtil.FileIntListFind':
		'prefix': 'FileIntListFind'
		'body': 'FileIntListFind(${1:string key}, ${2:int value})'
	'StorageUtil.FileIntListGet':
		'prefix': 'FileIntListGet'
		'body': 'FileIntListGet(${1:string key}, ${2:int index})'
	'StorageUtil.FileIntListRemove':
		'prefix': 'FileIntListRemove'
		'body': 'FileIntListRemove(${1:string key}, ${2:int value}, ${3:bool allInstances = false})'
	'StorageUtil.FileIntListRemoveAt':
		'prefix': 'FileIntListRemoveAt'
		'body': 'FileIntListRemoveAt(${1:string key}, ${2:int index})'
	'StorageUtil.FileIntListSet':
		'prefix': 'FileIntListSet'
		'body': 'FileIntListSet(${1:string key}, ${2:int index}, ${3:int value})'
	'StorageUtil.FileSetFloatValue':
		'prefix': 'FileSetFloatValue'
		'body': 'FileSetFloatValue(${1:string key}, ${2:float value})'
	'StorageUtil.FileSetIntValue':
		'prefix': 'FileSetIntValue'
		'body': 'FileSetIntValue(${1:string key}, ${2:int value})'
	'StorageUtil.FileSetStringValue':
		'prefix': 'FileSetStringValue'
		'body': 'FileSetStringValue(${1:string key}, ${2:string value})'
	'StorageUtil.FileStringListAdd':
		'prefix': 'FileStringListAdd'
		'body': 'FileStringListAdd(${1:string key}, ${2:string value}, ${3:bool allowDuplicate = true})'
	'StorageUtil.FileStringListClear':
		'prefix': 'FileStringListClear'
		'body': 'FileStringListClear(${1:string key})'
	'StorageUtil.FileStringListCount':
		'prefix': 'FileStringListCount'
		'body': 'FileStringListCount(${1:string key})'
	'StorageUtil.FileStringListFind':
		'prefix': 'FileStringListFind'
		'body': 'FileStringListFind(${1:string key}, ${2:string value})'
	'StorageUtil.FileStringListGet':
		'prefix': 'FileStringListGet'
		'body': 'FileStringListGet(${1:string key}, ${2:int index})'
	'StorageUtil.FileStringListRemove':
		'prefix': 'FileStringListRemove'
		'body': 'FileStringListRemove(${1:string key}, ${2:string value}, ${3:bool allInstances = false})'
	'StorageUtil.FileStringListRemoveAt':
		'prefix': 'FileStringListRemoveAt'
		'body': 'FileStringListRemoveAt(${1:string key}, ${2:int index})'
	'StorageUtil.FileStringListSet':
		'prefix': 'FileStringListSet'
		'body': 'FileStringListSet(${1:string key}, ${2:int index}, ${3:string value})'
	'StorageUtil.FileUnsetFloatValue':
		'prefix': 'FileUnsetFloatValue'
		'body': 'FileUnsetFloatValue(${1:string key})'
	'StorageUtil.FileUnsetIntValue':
		'prefix': 'FileUnsetIntValue'
		'body': 'FileUnsetIntValue(${1:string key})'
	'StorageUtil.FileUnsetStringValue':
		'prefix': 'FileUnsetStringValue'
		'body': 'FileUnsetStringValue(${1:string key})'
	'StorageUtil.FloatListAdd':
		'prefix': 'FloatListAdd'
		'body': 'FloatListAdd(${1:Form obj}, ${2:string key}, ${3:float value}, ${4:bool allowDuplicate = true})'
	'StorageUtil.FloatListClear':
		'prefix': 'FloatListClear'
		'body': 'FloatListClear(${1:Form obj}, ${2:string key})'
	'StorageUtil.FloatListCount':
		'prefix': 'FloatListCount'
		'body': 'FloatListCount(${1:Form obj}, ${2:string key})'
	'StorageUtil.FloatListFind':
		'prefix': 'FloatListFind'
		'body': 'FloatListFind(${1:Form obj}, ${2:string key}, ${3:float value})'
	'StorageUtil.FloatListGet':
		'prefix': 'FloatListGet'
		'body': 'FloatListGet(${1:Form obj}, ${2:string key}, ${3:int index})'
	'StorageUtil.FloatListInsert':
		'prefix': 'FloatListInsert'
		'body': 'FloatListInsert(${1:Form obj}, ${2:string key}, ${3:int index}, ${4:float value})'
	'StorageUtil.FloatListRemove':
		'prefix': 'FloatListRemove'
		'body': 'FloatListRemove(${1:Form obj}, ${2:string key}, ${3:float value}, ${4:bool allInstances = false})'
	'StorageUtil.FloatListRemoveAt':
		'prefix': 'FloatListRemoveAt'
		'body': 'FloatListRemoveAt(${1:Form obj}, ${2:string key}, ${3:int index})'
	'StorageUtil.FloatListSet':
		'prefix': 'FloatListSet'
		'body': 'FloatListSet(${1:Form obj}, ${2:string key}, ${3:int index}, ${4:float value})'
	'StorageUtil.FloatListSort':
		'prefix': 'FloatListSort'
		'body': 'FloatListSort(${1:Form obj}, ${2:string key})'
	'StorageUtil.FormListAdd':
		'prefix': 'FormListAdd'
		'body': 'FormListAdd(${1:Form obj}, ${2:string key}, ${3:Form value}, ${4:bool allowDuplicate = true})'
	'StorageUtil.FormListClear':
		'prefix': 'FormListClear'
		'body': 'FormListClear(${1:Form obj}, ${2:string key})'
	'StorageUtil.FormListCount':
		'prefix': 'FormListCount'
		'body': 'FormListCount(${1:Form obj}, ${2:string key})'
	'StorageUtil.FormListFind':
		'prefix': 'FormListFind'
		'body': 'FormListFind(${1:Form obj}, ${2:string key}, ${3:Form value})'
	'StorageUtil.FormListGet':
		'prefix': 'FormListGet'
		'body': 'FormListGet(${1:Form obj}, ${2:string key}, ${3:int index})'
	'StorageUtil.FormListInsert':
		'prefix': 'FormListInsert'
		'body': 'FormListInsert(${1:Form obj}, ${2:string key}, ${3:int index}, ${4:Form value})'
	'StorageUtil.FormListRemove':
		'prefix': 'FormListRemove'
		'body': 'FormListRemove(${1:Form obj}, ${2:string key}, ${3:Form value}, ${4:bool allInstances = false})'
	'StorageUtil.FormListRemoveAt':
		'prefix': 'FormListRemoveAt'
		'body': 'FormListRemoveAt(${1:Form obj}, ${2:string key}, ${3:int index})'
	'StorageUtil.FormListSet':
		'prefix': 'FormListSet'
		'body': 'FormListSet(${1:Form obj}, ${2:string key}, ${3:int index}, ${4:Form value})'
	'StorageUtil.GetFloatValue':
		'prefix': 'GetFloatValue'
		'body': 'GetFloatValue(${1:Form obj}, ${2:string key}, ${3:float missing = 0})'
	'StorageUtil.GetFormValue':
		'prefix': 'GetFormValue'
		'body': 'GetFormValue(${1:Form obj}, ${2:string key}, ${3:Form missing = none})'
	'StorageUtil.GetIntValue':
		'prefix': 'GetIntValue'
		'body': 'GetIntValue(${1:Form obj}, ${2:string key}, ${3:int missing = 0})'
	'StorageUtil.GetStringValue':
		'prefix': 'GetStringValue'
		'body': 'GetStringValue(${1:Form obj}, ${2:string key}, ${3:string missing})'
	'StorageUtil.HasFloatValue':
		'prefix': 'HasFloatValue'
		'body': 'HasFloatValue(${1:Form obj}, ${2:string key})'
	'StorageUtil.HasFormValue':
		'prefix': 'HasFormValue'
		'body': 'HasFormValue(${1:Form obj}, ${2:string key})'
	'StorageUtil.HasIntValue':
		'prefix': 'HasIntValue'
		'body': 'HasIntValue(${1:Form obj}, ${2:string key})'
	'StorageUtil.HasStringValue':
		'prefix': 'HasStringValue'
		'body': 'HasStringValue(${1:Form obj}, ${2:string key})'
	'StorageUtil.ImportFile':
		'prefix': 'ImportFile'
		'body': 'ImportFile(${1:string fileName}, ${2:string restrictKey}, ${3:int restrictType}, ${4:Form restrictForm = none}, ${5:bool restrictGlobal = false}, ${6:bool keyContains = false})'
	'StorageUtil.IntListAdd':
		'prefix': 'IntListAdd'
		'body': 'IntListAdd(${1:Form obj}, ${2:string key}, ${3:int value}, ${4:bool allowDuplicate = true})'
	'StorageUtil.IntListClear':
		'prefix': 'IntListClear'
		'body': 'IntListClear(${1:Form obj}, ${2:string key})'
	'StorageUtil.IntListCount':
		'prefix': 'IntListCount'
		'body': 'IntListCount(${1:Form obj}, ${2:string key})'
	'StorageUtil.IntListFind':
		'prefix': 'IntListFind'
		'body': 'IntListFind(${1:Form obj}, ${2:string key}, ${3:int value})'
	'StorageUtil.IntListGet':
		'prefix': 'IntListGet'
		'body': 'IntListGet(${1:Form obj}, ${2:string key}, ${3:int index})'
	'StorageUtil.IntListInsert':
		'prefix': 'IntListInsert'
		'body': 'IntListInsert(${1:Form obj}, ${2:string key}, ${3:int index}, ${4:int value})'
	'StorageUtil.IntListRemove':
		'prefix': 'IntListRemove'
		'body': 'IntListRemove(${1:Form obj}, ${2:string key}, ${3:int value}, ${4:bool allInstances = false})'
	'StorageUtil.IntListRemoveAt':
		'prefix': 'IntListRemoveAt'
		'body': 'IntListRemoveAt(${1:Form obj}, ${2:string key}, ${3:int index})'
	'StorageUtil.IntListSet':
		'prefix': 'IntListSet'
		'body': 'IntListSet(${1:Form obj}, ${2:string key}, ${3:int index}, ${4:int value})'
	'StorageUtil.IntListSort':
		'prefix': 'IntListSort'
		'body': 'IntListSort(${1:Form obj}, ${2:string key})'
	'StorageUtil.SetFloatValue':
		'prefix': 'SetFloatValue'
		'body': 'SetFloatValue(${1:Form obj}, ${2:string key}, ${3:float value})'
	'StorageUtil.SetFormValue':
		'prefix': 'SetFormValue'
		'body': 'SetFormValue(${1:Form obj}, ${2:string key}, ${3:Form value})'
	'StorageUtil.SetIntValue':
		'prefix': 'SetIntValue'
		'body': 'SetIntValue(${1:Form obj}, ${2:string key}, ${3:int value})'
	'StorageUtil.SetStringValue':
		'prefix': 'SetStringValue'
		'body': 'SetStringValue(${1:Form obj}, ${2:string key}, ${3:string value})'
	'StorageUtil.StringListAdd':
		'prefix': 'StringListAdd'
		'body': 'StringListAdd(${1:Form obj}, ${2:string key}, ${3:string value}, ${4:bool allowDuplicate = true})'
	'StorageUtil.StringListClear':
		'prefix': 'StringListClear'
		'body': 'StringListClear(${1:Form obj}, ${2:string key})'
	'StorageUtil.StringListCount':
		'prefix': 'StringListCount'
		'body': 'StringListCount(${1:Form obj}, ${2:string key})'
	'StorageUtil.StringListFind':
		'prefix': 'StringListFind'
		'body': 'StringListFind(${1:Form obj}, ${2:string key}, ${3:string value})'
	'StorageUtil.StringListGet':
		'prefix': 'StringListGet'
		'body': 'StringListGet(${1:Form obj}, ${2:string key}, ${3:int index})'
	'StorageUtil.StringListInsert':
		'prefix': 'StringListInsert'
		'body': 'StringListInsert(${1:Form obj}, ${2:string key}, ${3:int index}, ${4:string value})'
	'StorageUtil.StringListRemove':
		'prefix': 'StringListRemove'
		'body': 'StringListRemove(${1:Form obj}, ${2:string key}, ${3:string value}, ${4:bool allInstances = false})'
	'StorageUtil.StringListRemoveAt':
		'prefix': 'StringListRemoveAt'
		'body': 'StringListRemoveAt(${1:Form obj}, ${2:string key}, ${3:int index})'
	'StorageUtil.StringListSet':
		'prefix': 'StringListSet'
		'body': 'StringListSet(${1:Form obj}, ${2:string key}, ${3:int index}, ${4:string value})'
	'StorageUtil.StringListSort':
		'prefix': 'StringListSort'
		'body': 'StringListSort(${1:Form obj}, ${2:string key})'
	'StorageUtil.UnsetFloatValue':
		'prefix': 'UnsetFloatValue'
		'body': 'UnsetFloatValue(${1:Form obj}, ${2:string key})'
	'StorageUtil.UnsetFormValue':
		'prefix': 'UnsetFormValue'
		'body': 'UnsetFormValue(${1:Form obj}, ${2:string key})'
	'StorageUtil.UnsetIntValue':
		'prefix': 'UnsetIntValue'
		'body': 'UnsetIntValue(${1:Form obj}, ${2:string key})'
	'StorageUtil.UnsetStringValue':
		'prefix': 'UnsetStringValue'
		'body': 'UnsetStringValue(${1:Form obj}, ${2:string key})'
