'.source.papyrus.skyrim':
	'DienesToolsPluginScript.GetAllCOBJThatYieldForm (DienesTools)':
		'prefix': 'GetAllCOBJThatYieldForm'
		'body': 'GetAllCOBJThatYieldForm(${1:Form akForm}, ${2:FormList akList})'
	'DienesToolsPluginScript.ReplaceKYWD (DienesTools)':
		'prefix': 'ReplaceKYWD'
		'body': 'ReplaceKYWD(${1:Form akForm}, ${2:Keyword akToReplace}, ${3:Keyword akToAdd})'
	'DienesToolsPluginScript.TempCOBJ (DienesTools)':
		'prefix': 'TempCOBJ'
		'body': 'TempCOBJ(${1:ConstructibleObject akToCopy})'
