'.source.papyrus-assembly.skyrim':
	editor:
		commentStart: '; '
		foldStartPattern: '^\\s*\\.(info|userFlagsRef)'
		foldEndPattern: '^\\s*\\.(endInfo|endUserFlagsRef)'
'.source.papyrus-assembly.fallout4':
	editor:
		commentStart: '; '
		foldStartPattern: '^\\s*\\.(info|userFlagsRef)'
		foldEndPattern: '^\\s*\\.(endInfo|endUserFlagsRef)'
